@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p>Have you ever wondered where you can find Joel at night?
    <br/> 
    <br/> Check him out at <a href="https://www.qwcomedy.com">Quick Wits Comedy</a>
    <br/> 
    <br/> Or in the morning filming a podcast with <a href="https://baconsale.com">Baconsale.com</a></p>

<a href="https://www.baconsale.com" target="_blank">
    <img src="~/img/baconsale.png" alt="Clickable Profile Picture"
         style="display: block; width: 150px; height: 150px; object-fit: cover;">
</a>

