
@{
    ViewData["Title"] = "Get To Know Joel";
}

<h2>Have you ever wondered what Joel is up to on friday nights??</h2>
<br/>
<h2>Learn more below</h2>
<a href="https://www.qwcomedy.com/"><h2>Check out Quick Wit Comedy</h2></a>

<a href="https://baconsale.com/"><h2>Check out Baconsale</h2></a>" 

<a href="https://baconsale.com/"><img src="~/img/baconsale.png" height="500"></a>

