@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHilton.png" alt="Profile Picture" style="display: block; margin: 0 auto; width: 300px; height: 300px; border-radius: 50%; object-fit: cover;">
    <p>Did the branch push work?</p>

</div>